@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=8; IE=11" />
    <meta name="viewport" content="width=device-width" />
    <title>MIS Menu</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .animate {
            transition: all 0.1s;
            -webkit-transition: all 0.1s;
        }

        .action-button {
            /*border: 1px solid;*/
            margin: 20px 0 20px 0;
            border-radius: 10px;
            /*position: relative;
            margin: 20px;
            float: left;
            border-radius: 10px;*/
        }

        .gray {
            background-color: #b8b8b8;
            border-bottom: 6px solid #6e6e6e;
            text-shadow: 0px -2px #6e6e6e;
        }

        .red {
            background-color: #E74C3C;
            border-bottom: 6px solid #BD3E31;
            text-shadow: 0px -2px #BD3E31;
        }

        .action-button:active {
            transform: translate(0px,5px);
            -webkit-transform: translate(0px,5px);
            border-bottom: 1px solid;
        }

        .btn-main-txt {
            font-size: 80px;
            font-size: 6.3vw;
            padding: 40px 20px 15px 20px;
            text-align: center;
        }

        .btn-sub-txt {
            font-size: 24px;
            font-size: 2.2vw;
            padding: 5px 0 10px 0;
            text-align: center;
        }

        .toprightcorner {
            position: absolute;
            top: 10px;
            right: 10px;
            border: 1px solid;
            padding: 5px;
        }

        .container-main {
            /*padding-right: 20px;
            padding-left: 20px;*/
            *zoom: 1;
        }

            .container-main:before,
            .container-main:after {
                display: table;
                line-height: 0;
                content: "";
            }

            .container-main:after {
                clear: both;
            }

        a.sp-btn {
            text-decoration: none !important;
        }

        a.inactive-btn {
            color: #ccc;
            text-decoration: none !important;
        }

        a.inactive-btn:hover,
        a.inactive-btn:focus {
            color: #999;
        }
    </style>
</head>
<body>
    <div class="container-main">
        <div class="toprightcorner">@DateTime.Now.ToString("dd/MM/yyyy")</div>
        <div class="row-fluid well">
            <div class="span2 text-left">
                <img src="~/Images/computer-netwerk.jpg" />
            </div>
            <div class="span8 text-center">
                <div style="font-size: 70px; font-size: 5.6vw; font-weight: bolder; padding: 40px 0 20px 0;">WELCOME TO MIS</div>
                <div style="font-size: 43px; font-size: 3.6vw; font-weight: bolder; padding: 30px 0 20px 0;">Manufacturing Information System</div>
            </div>
            <div class="span2"></div>
        </div>
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span10">
                <div class="row-fluid">
                    <div class="span4 action-button animate gray">
                        <a href="~/Home/WIP" class="sp-btn">
                            <p class="btn-main-txt">WIP</p>
                            <p class="btn-sub-txt">WORK IN PROCESS</p>
                        </a>
                    </div>
                    <div class="span4 action-button animate gray">
                        <a href="#" class="sp-btn inactive-btn">
                            <p class="btn-main-txt">STK</p>
                            <p class="btn-sub-txt">FINISH GOODS STOCK</p>
                        </a>
                    </div>
                    <div class="span4 action-button animate gray">
                        <a href="#" class="sp-btn inactive-btn">
                            <p class="btn-main-txt">MAT</p>
                            <p class="btn-sub-txt">DIRECT MATERIAL</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="span1"></div>
        </div>
        <div class="row-fluid">
            <div class="span1"></div>
            <div class="span10">
                <div class="span4 action-button animate red">
                    <a href="#" class="inactive-btn">
                        <p class="btn-main-txt">DEF</p>
                        <p class="btn-sub-txt">DEFECTIVE</p>
                    </a>
                </div>
                <div class="span4 action-button animate gray">
                    <a href="#" class="inactive-btn">
                        <p class="btn-main-txt">TOL</p>
                        <p class="btn-sub-txt">TOOLING & MOLD</p>
                    </a>
                </div>
                <div class="span4 action-button animate gray">
                    <a href="#" class="inactive-btn">
                        <p class="btn-main-txt">PRD</p>
                        <p class="btn-sub-txt">PRODUCTION STATUS</p>
                    </a>
                </div>
            </div>
            <div class="span1"></div>
        </div>
    </div>
</body>
</html>